*{ /*for the whole css*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{ /*for the body*/
    background: linear-gradient( to right, #25ecb1 , #0cb193);
    height: 100vh;
    width: 100%;
}

.outerbox{ /*contains innerbox and logo*/
    background: #fff;
    height: 90vh;
    width: 87vw;
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 100px;
}

.name{ /* for the company name*/
    display:inline-block ;
    font-weight: 800;
    position: absolute;
    top: 20px;
    left: 100px;
    font-size: 20px;
}

.logo{ /*for the logo*/
    display: inline-block;
    height: 10px;
    width: 10px;
    position: relative;
    top: 22.5px;
    left: 220px;
}

.logo img{ /*for the logo img*/
    height: 20px;
}

.header{
    margin-right: 120px;
}

div ul{ /*for all ul tags*/
    float: right;  
}

div ul li{ /*for all li tags*/
    display:inline-block;
    margin-left: 0 5px;
}

div ul li a{ /*for all a href tags*/
    color:black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;  
    text-decoration: none;
    font-weight: 500;
}

a:hover{ /*for all a href tags button animation*/
    background: linear-gradient( to right, #25ecb1 , #0cb193);
    transition:none; 
}

.innerbox{ /*for the innerbox*/
    height: 79vh;
    width: 83.5vw;
    background:linear-gradient( to right, #25ecb1 , #0cb193);
    position: relative;
    top: 48.7%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 100px;
    box-shadow: 5px 5px 20px #5a5a5a;
}
 
 
 /* Style for the next button */
 .next-button {
    position: absolute;
    top: 85%;
    right: 50px;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #0cb193;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    height: 45px;
    width: 83px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #0f0f0f;
  }
  
  .next-button:hover{
    background: linear-gradient( to right, #25ecb1 , #0cb193);
    transition:none; 
  }

  .next-card {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.next-card .card1,
.next-card .card2,
.next-card .card3,
.next-card .card4,
.next-card .card5,
.next-card .card6, 
.next-card .card7,
.next-card .card8, 
.next-card .card9 {
    background: #fff;
    height: 23vh;
    width: 21vw;
    border-radius: 27px;
    box-shadow: 5px 5px 20px #5a5a5a;
    margin-top: 10px;
    overflow: hidden;/* ensure the image doesn't overflow */
    padding-right: 15px;
}

.next-card img {
    width: 107%;
    height: 100%;
    object-fit: unset;/* or "contain" based on your preference */
    border-radius: 0px;/* match the border-radius of the card */
}
